.game-controls {
  position: fixed;
  bottom: 10%;
  left: 40%;
  transform: translateY(50%);
  z-index: 100;
  display: flex;
  gap: 1rem;
  justify-content: center;
  background-color: #2a2a2a;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
